
/*
	Battlefield

====================================================*/

*[data-rowid="0"]:before,
*[data-rowid="1"]:before,
*[data-rowid="2"]:before,
*[data-rowid="3"]:before,
*[data-rowid="4"]:before,
*[data-rowid="5"]:before,
*[data-rowid="6"]:before,
*[data-rowid="7"]:before,
*[data-rowid="8"]:before,
*[data-rowid="9"]:before,
*[data-rowid="10"]:before,
*[data-rowid="11"]:before {
    background: orange none repeat scroll 0 0;
    height: 79px;
    left: -25px;
    line-height: 79px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 24px;
}

*[data-rowid="0"]{
	position: relative;
}

*[data-rowid="0"]:before {
	content: "0";
}
*[data-rowid="1"]{
	position: relative;
}
*[data-rowid="1"]:before {
	content: "1";
}
*[data-rowid="2"]{
	position: relative;
}
*[data-rowid="2"]:before {
	content: "2";
}
*[data-rowid="3"]{
	position: relative;
}
*[data-rowid="3"]:before {
	content: "3";
}
*[data-rowid="4"]{
	position: relative;
}
*[data-rowid="4"]:before {
	content: "4";
}
*[data-rowid="5"]{
	position: relative;
}
*[data-rowid="5"]:before {
	content: "5";
}
*[data-rowid="6"]{
	position: relative;
}
*[data-rowid="6"]:before {
	content: "6";
}
*[data-rowid="7"]{
	position: relative;
}
*[data-rowid="7"]:before {
	content: "7";
}
*[data-rowid="8"]{
	position: relative;
}
*[data-rowid="8"]:before {
	content: "8";
}
*[data-rowid="9"]{
	position: relative;
}
*[data-rowid="9"]:before {
	content: "9";
}
*[data-rowid="10"]{
	position: relative;
}
*[data-rowid="10"]:before {
	content: "10";
}
*[data-rowid="11"]{
	position: relative;
}
*[data-rowid="11"]:before {
	content: "11";
}

*[data-rowid="0"] .field::before {
    background: orange none repeat scroll 0 0;
    height: 24px;
    left: 1px;
    line-height: 24px;
    position: absolute;
    top: -26px;
    width: 100%;
}

*[data-rowid="0"] .field:nth-child(1):before {
	content: "0";
}
*[data-rowid="0"] .field:nth-child(2):before {
	content: "1";
}
*[data-rowid="0"] .field:nth-child(3):before {
	content: "2";
}
*[data-rowid="0"] .field:nth-child(4):before {
	content: "3";
}
*[data-rowid="0"] .field:nth-child(5):before {
	content: "4";
}
*[data-rowid="0"] .field:nth-child(6):before {
	content: "5";
}
*[data-rowid="0"] .field:nth-child(7):before {
	content: "6";
}
*[data-rowid="0"] .field:nth-child(8):before {
	content: "7";
}
*[data-rowid="0"] .field:nth-child(9):before {
	content: "8";
}
*[data-rowid="0"] .field:nth-child(10):before {
	content: "9";
}
*[data-rowid="0"] .field:nth-child(11):before {
	content: "10";
}
*[data-rowid="0"] .field:nth-child(12):before {
	content: "11";
}

#battlefield {

	.field {
		position: relative;
		height: 80px;
		text-align: center;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;

		&.blocked {
			background: #EEE;
		}

		&.selected {
			background: yellow;
		}

		&.valid-option {
			background: orange;
		}

		span {
		    color: #999;
		    font-size: 11px;
		    position: absolute;
		    right: 42px;
		    text-transform: uppercase;
		    top: 32px;
		}

	}

}