
/*
	Pieces

====================================================*/

#battlefield .field figure {
    display: block;
    position: relative;
    
    &.red {
    	background: red;
    }

    &.blue {
    	background: blue;
    }

    &.selected {
    	border: 2px solid green;
    }

}
